<li>
  <div>
  <%= link_to image_tag("stl_file.png"), design %>
  <span class="name"><%= link_to design.name, design %></span>
  <span class="timestamp">
    Created <%= time_ago_in_words(design.created_at) %> ago.
  </span>
  </div>
</li>
